body {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;

  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 80px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  flex-grow: 1;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formulario-login > label:nth-child(3) {
  padding-top: 16px;
}

.formulario-login > input {
  background: #1e1e1e;
  border: 2px solid #fafafa;
  color: #fafafa;
}

.recuperar-senha {
  font-size: 14px;
  text-decoration: underline;
}

.botao {
  padding: 8px 24px;
  border-radius: 8px;

  font-weight: bold;
}

.entrar {
  background-color: #00b4d8;
}

.cadastrar {
  background-color: #8e52fe;
}
